<style>
  .bard-gradient {
    background: linear-gradient(90deg, #cf8d7c, #a77cb4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>

<main class="text-white h-full flex flex-col gap-3 font-sans">
  <div class="w-full h-20 p-2 pl-8 flex">
    <div class="flex items-center gap-2">
      <h1 class="text-2xl text-white/65">Gemini Coach</h1>
      <div
        class="border-blue-400 text-[#788DAF] flex items-center border-solid px-[4px] font-mono p-[2px] border rounded-md"
      >
        <h2 class="text-xs">Powered by Gemini Pro</h2>
      </div>
    </div>
  </div>
  <div class="bg-[#131314] h-full mx-20 p-8 rounded-[2rem] mb-10 px-32 flex">
    <div class="flex w-full h-full">
      <div class="flex flex-col-reverse w-full justify-start">
        <form [formGroup]="geminiForm" class="w-full">
          <div class="flex">
            <div class="w-full flex relative items-center justify-center">
              <input
                formControlName="geminiInput"
                type="text"
                class="w-full relative h-14 rounded-[2rem] p-4 text-white bg-transparent outline-none outline-[1px] outline-gray-400 hover:outline-white focus:outline-2 focus:outline-blue-400"
                placeholder="Say what's on your mind 🧘🧘‍♀️"
              />
              <button
                [ngClass]="microphoneClass"
                (click)="interactWithMicrophone()"
              >
                <mat-icon
                  width="90"
                  aria-hidden="false"
                  aria-label="Send message to Gemini Coach"
                  fontIcon="microphone"
                ></mat-icon>
              </button>
            </div>
            <button
              class="px-2 right-0 mx-2 flex items-center"
              (click)="sendButton()"
            >
              <mat-icon
                width="90"
                aria-hidden="false"
                aria-label="Send message to Gemini Coach"
                fontIcon="send"
              ></mat-icon>
            </button>
          </div>
        </form>
        <div
          class="w-full flex justify-start items-start px-10 py-3 flex-col gap-4"
        >
          <div
            class="flex flex-col gap-4 w-full"
            *ngFor="let item of conversation; let i = index"
          >
            <div class="flex gap-2" *ngIf="item.from == 'user'">
              <h2 class="bard-gradient font-bold text-2xl bottom-4 relative">
                You
              </h2>
              <div
                class="w-fit bg-[#1E1F20] p-4 flex flex-col gap-1 rounded-r-3xl rounded-bl-2xl rounded-tl-md"
              >
                <div class="text-[#E3E3E3]">
                  {{ item.message }}
                </div>
              </div>
            </div>
            <div
              class="ml-auto flex flex-row-reverse gap-2"
              *ngIf="item.from == 'gemini'"
            >
              <div class="flex flex-col bottom-4 relative">
                <img
                  src="/assets/bard-icon.gif"
                  alt="Icon for Bard, by Google"
                  class="w-10 h-10 relative block"
                />
                <button
                  class="flex items-center text-[#e8eaed]"
                  (click)="speakMessage(i)"
                >
                  <mat-icon
                    width="90"
                    aria-hidden="false"
                    aria-label="Send message to Gemini Coach"
                    fontIcon="volume_up"
                  ></mat-icon>
                </button>
              </div>
              <div
                class="bg-[#1E1F20] p-4 rounded-l-3xl rounded-br-2xl rounded-tr-md"
              >
                <div class="text-[#E3E3E3]">{{ item.message }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-[50%] h-full gap-4 flex flex-col">
        <div
          class="w-full h-full bg-[#1E1F20] p-2 flex items-center justify-center rounded-2xl"
        >
          <div class="flex items-center">
            <h2 class="text-5xl font-bold bard-gradient">Gemini</h2>
            <img
              src="/assets/bard-icon.gif"
              alt="Icon for Bard, by Google"
              class="w-10 h-10"
            />
          </div>
        </div>
        <div
          class="w-full h-full bg-[#1E1F20] p-2 flex items-center justify-center rounded-2xl"
        >
          <h2 class="text-5xl font-bold bard-gradient">You</h2>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
